# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# SQLite / local data
*.db
*.sqlite

# PyInstaller
build/
dist/
*.spec

# Inno Setup
Output/
*.iss.bak

# IDEs
.idea/
.vscode/*
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*