# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# SQLite / local data
*.db
*.sqlite

# IDEs
.idea/
.vscode/*
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db

# Enviorment
.env
.env.*
